.content {
  background-image: url(./img/bg.jpeg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.container {
  width: 80%;
  margin: auto;
}

.logo-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-content img {
  margin: 20px 0;
}

.cards-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
}

.card{
  background: #fff;
  border-radius: 22px;
  padding: 30px;
  max-width: 180px;
  min-height: 112px;
  margin: 5px;
  text-align: center;
  white-space: nowrap;
}

.card:hover {
  background-color: #eeee;
  border-radius: 22px;
  border: 3px solid rgba(0, 0, 0, 0.125);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.418);
}

.card img{
  border-radius: 5px;
}

@media (max-width: 500px) {
  *{
    color: pink;
  }
}